<ion-view view-title="Notes">
  <ion-content>
    </div>
    <ion-list show-reorder="vm.reordering">
      <ion-item href="#/edit/{{note.id}}" class="item-remove-animate item-icon-right" ng-repeat="note in vm.notes track by note.id">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <i class="icon ion-arrow-right-b"></i>
        <ion-reorder-button class="ion-drag"
          on-reorder="vm.move(note, $fromIndex, $toIndex)">
        </ion-reorder-button>
        <ion-option-button
            class="button-assertive icon-left ion-trash-b"
            ng-click="vm.remove(note.id)">
            Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add" class="button button-assertive icon-left ion-compose">&nbsp; New Note</a>
    <button class="button icon-left ion-shuffle"
      ng-click="vm.toggleReordering()"
      ng-class="{true: 'button-balanced', false: 'button-light'}[vm.reordering == true]">
      Reorder
    </button>
  </div>
</ion-view>
